.splash-footer {
    width: fit-content;
    padding: 10px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: aliceblue;


}

.fa-brands {
    color: black;
    font-size: 35px;
    padding: 5px;
}
