.nav-bar-main {
    width: 100vw;
    /* overflow: hidden; */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* max-width: 2000px; */
    height: 70px;
    color: white;
}

.nav-bar-right {
    display: flex;
    /* margin-right: 150px; */
    width: 50%;
    justify-content: center;
}

.login-signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-signup span {
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    margin-right: 10px;
    width: 75px;
    height: 25px;
    font-size: smaller;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    vertical-align: middle; */
}

.splash-login:hover {
    background-color: rgba(240, 248, 255, 0.362);
}

.splash-login {
    border: 1.5px solid whitesmoke;
    padding: 5px;
    align-self: center;
}

.splash-signup {
    background-color: #c41200;
    border: 1.5px solid #c41200;
    padding: 5px;
    align-self: center;
}

.hostButton {
    cursor: pointer;
    /* font-size: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.hostButton:hover {
    background-color: rgba(240, 248, 255, 0.362);
    border-radius: 5px;
}

.dropdown-container {
    font-size: 30px;
    position: relative;
    display: inline-block;
    align-self: center;
}

.profile-button {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.profile-button img {
    background-color: aliceblue;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: whitesmoke;
    width: 150px;
    border-radius: 5px;
    z-index: 1;
    color: black;
    font-size: small;
}

.dropdown-user {
    padding: 10px;
}

.dropdown-me {
    padding: 10px;
    cursor: pointer;
}

.dropdown-me:hover {
    background-color: rgba(128, 128, 128, 0.211);
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.logo-container {
    display: flex;
    font-size: 30px;
    margin-left: 5%;
    align-items: center;
}

.logo-content {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.logo-container:hover {
    cursor: pointer;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
}

.search-bar-box {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    border-radius: 3px;
    border: 0.5px solid whitesmoke;
}

.search-input {
    width: 30vw;
    height: 30px;
    border: none;
    border-top-left-radius: 4px;
    border-end-start-radius: 4px;
}

#search {
    text-indent: 5px
}

.search-button {
    color: whitesmoke;
    background-color: #c41200;
    border: none;
    border-top-right-radius: 4px;
    border-end-end-radius: 4px;
}

.search-results {
    background-color: whitesmoke;
    border: solid 1px var(--border-color-active);
    color: var(--text-color);
    width: 30vw;
    margin-left: 50px;
    text-indent: 5px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    z-index: 99 !important;
}

.search-results-row1 {
    display: flex;
    justify-content: space-between;
}

.search-results-address {
    font-size: 10px;
}

.search-results-category {
    background-color: rgba(220, 220, 220);
    border-radius: 4px;
}
