.login-signup-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.login-signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.loginSignup-image-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 40%;
}

.form-title {
    font-size: 32px;
    /* line-height: 40px; */
    margin: 0px 8px 32px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    font-weight: 400;
    color: #c41200;
}

.loginSignup-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
}

.form-labels {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    padding-left: 2px;
}

.form-input-container {
    border: solid 1px #424244;
    background-color: var(--bkg-color-black);
    color: var(--text-color);
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    border-radius: 6px;
    font-size: 14px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-submit-button {
    background-color: #c41200;
    color: whitesmoke;
    border-radius: 7px;
    border: none;
    padding: 7px;
    cursor: pointer;
    border: #424244 1px solid;
    /* height: 2.5em; */
    border-radius: 6px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 8px;
    font-size: 16px;
}
