.business-detail-page {
    display: flex;
    flex-direction: column;
}

.business-top-background {
    width: 100vw;
    display: flex;
    height: 30vh
}

.business-image {
    display: flex;
    flex-direction: row;
    background-color: black;
    /* position: fixed; */
    width: 100vw;
    height: 350px;
}

.detail-image {
    opacity: 0.5;
    width: 100%;
    position: relative
}


.business-detail-name {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
    font-weight: bold;
}

.business-detail-rating {
    position: absolute;
    left: 20%;
    top: 40%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
}

.open-close-detail {
    /* position: absolute; */
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
    margin-top: 3px;
}

.open-close-detail>span {
    margin-right: 8px;
}

.priceRange-detail {
    color: whitesmoke;
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}

.business-bottom {
    overflow: auto;
    margin-top: 150px;
    margin-left: 10%;
    width: 85vw;
    /* position: absolute;
    bottom: 0; */
}

.form-button {
    background-color: #c41200;
    color: whitesmoke;
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.review-list-main {
    /* display: flex;
    flex-direction: column; */
    width: 60%;
}

.business-detail {
    margin-right: 50px;
    border: solid 1px var(--border-color-active);
    padding: 10px;
    display: flex;
    width: 35%;
    height: fit-content;
    color: var(--text-color);
    margin-top: 20px;
    margin-right: 30px;
    max-width: 180px;
}

.phone {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--border-color-active);
}

.contact-info>div {
    font-size: 17px;
    padding: 10px;
}

.address>* {
    padding-bottom: 5px;
}

.detail-about-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px
}

.about-box {
    width: 60%;
}

.detail-about-title {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.detail-description {
    color: #2D2E2E;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: solid 1px var(--border-color-active)
}

.review-list-container {
    width: 100%;
}

.review-overview-container {
    display: flex;
    flex-direction: column;
}

.review-overview-title {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overall-rating-container>div {
    padding-bottom: 20px;
}

.overall-rating-title {
    font-size: 17px;
}

.review-overall-nums {
    font-size: 15px;
    padding-top: 5px;
    color: var(--text-color)
}
