.businesslist-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bottom {
    display: flex;
    flex-direction: column;
}

.category-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

.category-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category-icon-img {
    height: 50%;
}

.category-name {
    color: var(--text-color)
}

.businesslist-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
}

.map-main {
    display: flex;
    width: 30vw;
}

.business-card-container {
    display: flex;
    width: 650px;
    height: 230px;
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    border-bottom: 1px solid #a2a0a2;
    align-items: center;
}

.business-card-container:hover {
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.391);
}


.business-image-container {
    display: flex;
    padding: 10px;
}

.business-image-container img {
    border-radius: 8px;
}

.business-intro-container {
    padding: 10px;
}

.business-intro-container div {
    padding: 3px;
}

.business-name {
    font-size: large;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.stars-container {
    width: 2000px;
}

.fa-star {
    font-size: 15px;
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.fa-regular.fa-star {
    color: #8f8e8f;
    /* -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: #8f8e8f;
}

.review-nums {
    font-size: smaller;
    color: gray;
    margin-left: 5px;
}

.card-category-name {
    background-color: var(--category-color);
    width: fit-content;
    border-radius: 5px;
    font-size: smaller;
    padding: 3px;
}

.open {
    color: green;
    font-size: larger;
}

.open-close {
    font-size: smaller;
    color: gray;
}

.description {
    width: 400px;
    display: -webkit-box;
    color: gray;
    overflow: hidden;
    overflow-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 17px;
    margin-top: 5px;
}

.no-business-container {
    display: flex;
    width: 100%;
    margin-top: 200px;
    margin-left: 100px;
}

.no-business-message {
    font-size: 30px;
    margin-top: 30px;
    color: var(--text-color);
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 50%;
}

.no-business-link {
    color: goldenrod
}

.no-business-pumpkin {
    border-radius: 50%;
}
