.businesslist-main {
    display: flex;
    flex-direction: column;
}

.main-bottom {
    display: flex;
    flex-direction: row;
}

.category-main {
    width: 20vw;
}

.businesslist-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
}

.map-main {
    display: flex;
    width: 30vw;
}

.business-card-container {
    display: flex;
    width: 700px;
    height: 250px;
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    border-bottom: 1px solid #a2a0a2;
    align-items: center;
}

.business-card-container:hover {
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.391);
}


.business-image-container {
    display: flex;
    padding: 10px;
}

.business-image-container img {
    border-radius: 8px;
}

.business-intro-container {
    padding: 10px;
}

.business-intro-container div {
    padding: 3px;
}

.business-name {
    font-size: large;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.stars-container {
    width: 2000px;
}

.fa-star {
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.review-nums {
    font-size: smaller;
    color: gray;
}

.open-close {
    font-size: smaller;
    color: gray;
}

.description {
    width: 500px;
    display: -webkit-box;
    color: gray;
    overflow: hidden;
    overflow-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 17px;
    margin-top: 5px;
}
