.review-form {
    padding: 30px;
}

.review-form-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.review-form-stars {
    padding-top: 15px;
}

.review-star {
    cursor: pointer;
}

.review-star:hover {
    color: gold;
}

.star1:hover {
    color: gold;
}

.review-form-fields {
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
}

.task-form-textarea {
    background-color: var(--bkg-color-black);
    color: var(--text-color);
    overflow: auto;
    height: 100%;
    border: #a2a0a2 1px solid;
    resize: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-textarea {
    width: 100%;
}

.confirm-delete-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm-delete-title {
    /* padding: 20px; */
    margin: 15px;
    margin-top: 70px;
    font-size: 25px;
    /* display: flex; */
    /* justify-self: center; */
    width: 70%;
}

.confirm-delete-button-container>button {
    padding: 10px;
    width: 80px;
    margin: 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #c41200;
    color: whitesmoke;
}

.confirm-delete-button {}
